// Screen sizes (if we want to make it responsive)
// $screen-xs: 480px;
// $screen-sm: 600px;
// $screen-md: 768px;
// $screen-lg: 900px;
// $screen-xl: 1024px;
// $screen-xxl: 1200px;

//Colors
$color-pink: #f64c72;
$color-dark-blue: #2f2fa2;
$color-light-blue: #61dbfb;
$color-white: #ffffff;
$color-dark: #000000;
$color-grey: #6F6f6f;

//Others
